body {
  background: #fdf7f5;
}

nav {
  background: #4e4b5c;
}

.nav-item {
  color: #fdf7f5;
}

.jumbotron {
  background: #4e4b5c;
}

.jumbotron h1, p {
  color: #fdf7f5;
}

.jumbotron form {
  border-radius: 10px;
  background: #fdf7f5;
}

.jumbotron form h6 {
  color: #4e4b5c;
}

.shadow {
  box-shadow: 10px 10px 15px #232323;
}

/* svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
} */
.wave {
  margin-top: -100px;
  /* display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden; */
}

