body {
  background: #f9fbfc;
}

nav {
  background: #4e4b5c;
}

.nav-item {
  color: #fdf7f5;
}

.jumbotron {
  background: #4e4b5c;
}

.jumbotron h1, p {
  color: #fdf7f5;
}

.jumbotron form {
  border-radius: 10px;
  background: #fdf7f5;
}

.jumbotron form h6 {
  color: #4e4b5c;
}

.shadow {
  box-shadow: 10px 10px 15px #232323;
}

/* svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
} */
.wave {
  margin-top: -10%;
  margin-bottom: -52%;
  /* display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden; */
}

body .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10%;
}

body .cards .card p {
  color: black;
}

body .site-footer {
  background-color: #4e4b5c;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #f9fbfc;
}
body .site-footer hr {
  border-top-color: #f9fbfc;
  opacity: 0.5;
}
body .site-footer hr.small {
  margin: 20px 0;
}
body .site-footer h6 {
  color: #a2cbe7;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
body .site-footer a {
  color: #a2cbe7;
}
body .site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
body .footer-links {
  padding-left: 0;
  list-style: none;
}
body .footer-links li {
  display: block;
}
body .footer-links a {
  color: #f9fbfc;
}
body .footer-links a:active,
body .footer-links a:focus,
body .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
body .footer-links.inline li {
  display: inline-block;
}
body .site-footer .social-icons {
  text-align: right;
}
body .site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #757575;
}
body .copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  body .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10%;
  }
  body .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  body .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
  }
  body .site-footer {
    padding-bottom: 0;
  }
  body .site-footer .copyright-text,
  body .site-footer .social-icons {
    text-align: center;
  }
}
body .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
body .social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
body .social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
body .social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
body .social-icons a:active,
body .social-icons a:focus,
body .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
body .social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
body .social-icons a.facebook:hover {
  background-color: #3b5998;
}
body .social-icons a.twitter:hover {
  background-color: #00aced;
}
body .social-icons a.linkedin:hover {
  background-color: #007bb6;
}
body .social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  body .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
