body {
  background: #f9fbfc;
}

nav {
  background: #4e4b5c;
}

.nav-item {
  color: #f9fbfc;
}

.jumbotron {
  background: #4e4b5c;
}

.jumbotron h1, p {
  color: #f9fbfc;
}

.jumbotron form {
  border-radius: 10px;
  background: #f9fbfc;
}

.jumbotron form h6 {
  color: #4e4b5c;
}

.shadow {
  box-shadow: 10px 10px 15px #232323;
}

.wave {
  margin-top: -100px;
}

